<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="likidbContext" connectionString="Data Source=.;Database=TestDB;UID=sa;pwd=tarun;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Liki.Web-20130626121409;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Liki.Web-20130626121409.mdf" />
  </connectionStrings>
</configuration>