@{
    ViewBag.Title = "HomePage";
}

<h2>Liki Home Page</h2>

<div class="content-left">

    <div>
        <table style="width: 50%">

    <tr>
        <a href="http://store.liki.nisys.in">Team Access</a>
        @*http://store.liki.nisys.in*@
          </tr>
</table>
    </div>

<table style="width: 50%">

    <tr>
        <td class="labelY" style="width: 50%">
            @Html.ActionLink("Go to Query Editor", "GoToEditor", "CreditApp")
            
        </td>
    </tr>
</table>

</div>
