@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script>

    <script type="text/javascript">

        function AppViewModel() {

            var self = this;
            //debugger;
            self.Customers = ko.observableArray();
            self.CustomersEdit = ko.observableArray();

            var baseUri = 'http://localhost:10001/api/customer';

            // var baseUri = '@ViewBag.ApiUrl';

            function CustomerViewModel(root, Customer) {
                //debugger;
                var self = this;
                self.CustomerID = Customer.CustomerID,
                self.Title = Customer.Title,
                self.EmailAddress = Customer.EmailAddress,
                self.FirstName = Customer.FirstName,
                self.MiddleName = Customer.MiddleName,
                self.LastName = Customer.LastName,
                self.Suffix = Customer.Suffix,
                self.Password = Customer.Password

                self.EditCustomer = function () {

                    root.CustomersEdit.push(self);
                };
            }
            $.getJSON(baseUri, function (Customers) {
                $.each(Customers, function (index, Customer) {
                    self.Customers.push(new CustomerViewModel(self, Customer));
                })
            });

            self.update = function (Customer) {
                debugger;
                alert(baseUri + '/' + Customer.CustomerID);
                $.ajax({
                    type: "PUT", url: baseUri + '/' + Customer.CustomerID,
                    data: JSON.stringify(Customer),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        document.location.reload();
                    },
                });
            }


        };

        function UpdateCustomer() {
            debugger;
            jQuery.support.cors = true;
            var customerDto = {
                CustomerID: $('#txtCustomerID').val(),
                Title: $('#txtTitle').val(),
                EmailAddress: $('#txtEmailAddress').val(),
                FirstName: $('#txtFirstName').val(),
                MiddleName: $('#txtMiddleName').val(),
                LastName: $('#txtLastName').val(),
                Suffix: $('#txtSuffix').val(),
                Password: $('#txtPassword').val()
            };

            $.ajax({
                url: 'http://localhost:10001/api/customer/' + customerDto.CustomerID,
                type: 'PUT',
                data: JSON.stringify(customerDto),
                contentType: "application/json;charset=utf-8",
                success: function () {
                    document.location.reload();
                },
                error: function (err) {
                    alert("Fail");
                    alert('\n' + err + '\n');
                    alert('\n' + err.toString + '\n');
                }
            });
        }

        $(document).ready(function () {
            ko.applyBindings(new AppViewModel());
        });
        //function WriteResponse(customer) {

        //    var strResult = "<table><th>CustomerId</th><th>Title</th><th>EmailAddress</th><th>FirstName</th><th>MiddleName</th>";
        //    $.each(customer, function (index, customer) {
        //        strResult += "<tr><td>" + customer.CustomerId + "</td><td> " + customer.Title + "</td><td> " + customer.EmailAddress + "</td><td>" + customer.FirstName + "</td><td>" + customer.MiddleName + "</td></tr>";
        //    });
        //    strResult += "</table>";
        //    $("#divResult").html(strResult);
        //}




    </script>
}


<div>
    <!-- List of products -->
    <div>
        <h1>Customers</h1>
        <br />
        ApiUrl = @ViewBag.ApiUrl
        <table>
            <tr>
                <td>CustomerId</td>
                <td>Title</td>
                <td>EmailAddress</td>
                <td>FirstName </td>
                <td>MiddleName</td>
                <td>LastName     </td>
                <td>Suffix</td>
                <td>Password</td>
                <td></td>
            </tr>
        </table>
        <table data-bind="foreach: Customers">
            <tr>
                <td>
                    <label data-bind="text: CustomerID"></label>
                </td>
                <td>
                    <label data-bind="text: Title"></label>
                </td>
                <td>
                    <label data-bind="text: EmailAddress"></label>
                </td>
                <td>
                    <label data-bind="text: FirstName"></label>
                </td>
                <td>
                    <label data-bind="text: MiddleName"></label>
                </td>
                <td>
                    <label data-bind="text: LastName"></label>
                </td>
                <td>
                    <label data-bind="text: Suffix"></label>
                </td>
                <td>
                    <label data-bind="text: Password"></label>
                </td>
                <td>
                    <button data-bind="click: EditCustomer">EditCustomer</button>
                </td>
            </tr>

        </table>

    </div>
    <div id="CustomersEdit" data-bind="visible: CustomersEdit().length > 0">
        <h1>Customer Detail</h1>


        <table data-bind="foreach: CustomersEdit">

            <tr>
                <td>CustomerId</td>
                <td>
                    <span data-bind="text: $data.CustomerID"></span>
                    <input type="hidden" id="txtCustomerID" data-bind="value: $data.CustomerID" />

                </td>
            </tr>

            <tr>
                <td>Title</td>
                <td>
                    <input type="text" id="txtTitle" data-bind="value: $data.Title" />
                </td>
            </tr>
            <tr>
                <td>EmailAddress</td>
                <td>
                    <input type="text" id="txtEmailAddress" data-bind="value: $data.EmailAddress" /></td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td>
                    <input type="text" id="txtFirstName" data-bind="value: $data.FirstName" /></td>
            </tr>
            <tr>
                <td>MiddleName</td>
                <td>
                    <input type="text" id="txtMiddleName" data-bind="value: $data.MiddleName" /></td>
            </tr>
            <tr>
                <td>LastName</td>
                <td>
                    <input type="text" id="txtLastName" data-bind="value: $data.LastName" /></td>
            </tr>
            <tr>
                <td>Suffix</td>
                <td>
                    <input type="text" id="txtSuffix" data-bind="value: $data.Suffix" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="text" id="txtPassword" data-bind="value: $data.Password" /></td>
            </tr>
            <tr>

                <td>
                    @*<input type="button" value="Update"  data-bind="click: $root.update" />*@
                    <input type="button" value="Update" onclick="UpdateCustomer();" />


                </td>
            </tr>

        </table>



    </div>
</div>
