@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 @Html.ActionLink("Edit", "Details", "Admin", null, new { @class = "btn-link" })
<br/>
 @Html.ActionLink("Easy Query", "GoToEditor", "Admin", null, new { @class = "btn-link" })
